/* General styles for all screen sizes */

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  /* Styles for mobile devices */
  body {
    font-size: 14px;
  }
  .top {
    /* Adjust styles for the 'top' section in mobile view */
  }
  .img-container img {
    /* Adjust styles for images in mobile view */
    width: 100%;
  }
}

/* Media Query for low-resolution Tablets, iPads */
@media (min-width: 481px) and (max-width: 767px) {
  /* Styles for tablets and iPads in landscape mode */
  body {
    font-size: 16px;
  }
  .top {
    /* Adjust styles for the 'top' section in tablet landscape view */
  }
}

/* Media Query for Tablets iPads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Styles for tablets and iPads in portrait mode */
  body {
    font-size: 18px;
  }
  .top {
    /* Adjust styles for the 'top' section in tablet portrait view */
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  /* Styles for laptops and desktops */
  body {
    font-size: 20px;
  }
  .top {
    /* Adjust styles for the 'top' section in desktop view */
  }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
  /* Styles for large screens */
  body {
    font-size: 22px;
  }
  .top {
    /* Adjust styles for the 'top' section in large screen view */
  }
}
