/* Common styles for both desktop, tablet, and mobile */
.projects {
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  font-family: 'Playfair Display', serif;
}


.project-details {
  scroll-snap-align: start;
  display: flex;
  font-family: 'Playfair Display', serif;
}

/* Desktop-specific styles */
@media (min-width: 1024px) {
  .project-details {
    flex-direction: row; /* Display image gallery and project details side by side on desktop */
    font-style: 'Playfair Display', serif;
  }

  .image-gallery-wrapper {
    width: 60%; /* Set the width for the image gallery to 60% of the container on desktop */
    height: 100vh;
    align-items: center;
    display: flex;
    background-color: #dde1e6;
    order: 1; /* Reorder the gallery to be displayed first */
  }

  .text-details {
    width: 40%; /* Set the width for the project details to 40% on desktop */
    padding: 40px; /* Add more padding for better spacing on desktop */
    background-color: #e5e5e5;
    order: 2; /* Reorder the project details to be displayed second */
  }

  .project-title {
    font-size: 2.5rem; /* Increase font size for project titles on desktop */
  }

  .project-description {
    font-size: 1.2rem; /* Keep font size for project descriptions on desktop */
  }
}

/* Tablet-specific styles */
@media (min-width: 768px) and (max-width: 1023px) {
  .project-details {
    flex-direction: column; /* Stack the image gallery and project details on tablet */
  }

  .image-gallery-wrapper {
    width: 100%; /* Make the image gallery take up the full width on tablet */
    height: 50vh; /* Adjust the height for better visibility on tablet */
    margin: 0; /* Remove margins on tablet */
    background-color: #dde1e6;
  }

  .image-gallery-slide .image-gallery-image {
    height: 100%; /* Use full height of the gallery container */
  }

  .text-details {
    width: 100%; /* Make the project details take up the full width on tablet */
    padding: 20px; /* Reduce padding for better spacing on tablet */
    margin-top: 20px; /* Add margin at the top for better separation */
  }

  .project-title {
    font-size: 2rem; /* Adjust font size for project titles on tablet */
  }

  .project-description {
    font-size: 1rem; /* Adjust font size for project descriptions on tablet */
    line-height: 1.6; /* Add line height for improved readability */
  }
}

/* Mobile-specific styles */
@media (max-width: 767px) {
  .project-details {
    flex-direction: column; /* Stack the image gallery and project details on mobile */
  }

  .image-gallery-wrapper {
    width: 100%; /* Make the image gallery take up the full width on mobile */
    /* Adjust the height for better visibility on mobile */
    margin: 0; /* Remove margins on mobile */
    background-color: #dde1e6;
    margin-bottom: 1rem;
  }

  .image-gallery-slide .image-gallery-image {
    height: 100%; /* Use full height of the gallery container */
  }

  .text-details {
    width: 100%; /* Make the project details take up the full width on mobile */
    font-size: medium;
  }
}